.settingsWrapper {
  width: 736px;
  height: 448px;
  padding: 16px 32px;
  border-radius: 8px;
  overflow: hidden;
  position: relative;
}

.buttonsWrapper {
  padding-top: 32px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  gap: 16px;
}

.notificationWrapper {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
}
