.settingsWrapper {
  width: 736px;
  height: 448px;
  padding: 16px 32px;
  border-radius: 8px;
  overflow: hidden;
  position: relative;
}

.buttonsWrapper {
  padding-top: 32px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  gap: 16px;
}

.tabsWrapper {
  display: flex;
  flex-direction: row;
}

.contentWrapper {
  display: flex;
  flex-direction: column;
  height: calc(100% - 140px);
}

.backBtnWrapper {
  display: flex;
  align-items: center;
  padding-right: 8px;
}
