.settingsWrapper {
  width: 736px;
  height: 448px;
  padding: 16px 32px;
  border-radius: 8px;
  overflow: hidden;
}

.buttonsWrapper {
  padding-top: 32px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  gap: 16px;
}
